.select {
    position: relative;
    font-size: 15px;

    .cur_arrow {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40px;

        .opened {
            transform: rotate(180deg);
        }
    }

    .list {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.6);
        background-color: #fff;
        position: absolute;
        z-index: 2;

        .rows {
            text-align: center;
            width: 75px;
            height: 35px;
            padding-left: 15px;
            align-items: center;
            display: flex;
            //z-index: 1;
        }
        
        .rows :hover {
            cursor: pointer;
            background-color: grey;
        }
    }
    
    .list :hover {
        background-color: rgb(176, 161, 161);
    }    
}