// .description {
//     margin-top: 10px;
//     background-color: #fff;

//     .brand,
//     .name {
//         font-size: 25px;
//         padding-bottom: 10px;
//     }

//     .brand {
//         font-weight: 600;
//     }

//     .name {
//         font-weight: 400;
//     }

//     .product_price {
//         font-weight: 700;
//         font-size: 19px;
//     }
// }


.brand {
    font-weight: 600;
}

.name {
    font-weight: 400;
}

.product_price {
    font-weight: 700;
    padding-top: 5px;
}

.m_brand_name_size {
    font-size: 25px;
    padding-bottom: 10px;
}

.m_price_size {
    font-size: 19px;
}